body
{
	margin: 0;
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1.logo
{
	font-size: 35px;
	font-weight: 700;
	color: #87CEEB;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 50px;
	margin-bottom:px;
}

#topnav
{
	background-color: #1c74b2;
	text-align: center;
}

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 38px;
	line-height: 200%;
}

.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}

.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}

.menu a
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #0a2b42;
}

.formularz
{
	background-color: #808080;
	width: 300px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	box-shadow: 3px 3px 30px 2px rgba(90,90,90,0.9);
	border-radius: 5px;
	text-align: center;
	font-style: italic;
	color: #04415a;
	font-weight: 600;
	font-size: 18px;
}

.formularz a
{
	color: #04415a;
	font-weight: 600;
	text-decoration: none;
}

input[type=text],
input[type=date],
input[type=tel],
input[type=number],
input[type=email],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #dddddd;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 15px;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus
{
	box-shadow: 0px 0px 10px 2px rgba(173,216,230,0.9);	
	border: 1px solid #d3e9ff;
	background-color: #ebf5ff;
	color: #191970;
}

input[type=submit]
{
	width: 300px;
	background-color: #488bc2;
	font-size: 18px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #599cd3;
}

input[type=submit]:focus
{
	box-shadow: 0px 0px 10px 2px rgba(173,216,230,0.9);	
}

.pacjenci
{
	border-collapse: collapse;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	min-width: 400px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 10px 2px rgba(133,155,175,0.9);
}

.pacjenci thead tr
{
	background-color: #9bb9d6;
	color: #04415a;
	text-align: center;
}

.pacjenci th,
.pacjenci td
{
	padding: 12px 15px;
}

.pacjenci tbody tr
{
	border-bottom: 1px dashed #dddddd;
}

.pacjenci tbody tr:last-child
{
	border-bottom: none;
}



